# API Portal Digitalssolutions Credentials
# Ces identifiants sont utilisés pour se connecter à l'API portal.digitalssolutions.de
API_LOGIN_EMAIL=info@tagakam.de
API_LOGIN_PASSWORD=tagakam

# Tenant API Key for contact form submissions
API_TENANT_KEY=8261b8f579889584079681c334aebe01b3efd038763e0cf86b34288401e4eb9c

# Server Configuration
PORT=3004
HOST=0.0.0.0
NODE_ENV=production

# Nuxt Public Configuration
NUXT_PUBLIC_API_BASE=http://portal.digitalssolutions.de/api

