# API Portal Digitalssolutions Credentials
# Ces identifiants sont utilisés pour se connecter à l'API portal.digitalssolutions.de
API_LOGIN_EMAIL=info@tagakam.de
API_LOGIN_PASSWORD=tagakam

# Server Configuration
PORT=3004
HOST=0.0.0.0
NODE_ENV=production

# Nuxt Public Configuration
NUXT_PUBLIC_API_BASE=http://portal.digitalssolutions.de/api

